.overlay {
  // Overall gray color
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  // Display modal
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 2;
  width: 800px;
  height: 380px;
  padding: 1em;
  border-radius: 10px;
  background: #ebf2fa;
  box-shadow: 0px 4px 4px rgba(1, 111, 185, 0.25);
}

.modalContainer {
  display: flex;
  flex-direction: column;
}

.closeButton {
  display: block;
  margin-left: auto;
  width: 3%;
  height: 3%;
  cursor: pointer;
}

.main {
  display: flex;
}
.leftPicture {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  margin-left: 20px;
}

.rightContents {
  margin-left: 40px;
}

.rateStars {
  display: block !important;
}

.rateStars_responsive {
  display: none !important;
}

.RestaurantPriceRange {
  display: block !important;
}

.RestaurantPriceRange_responsive {
  display: none !important;
}

.RestaurantAddress {
  display: block !important;
}

.RestaurantAddress_responsive {
  display: none !important;
}

.telDescription {
  margin-top: 2px;
}

.TelImage {
  display: block !important;
}

.TelImage_responsive {
  display: none !important;
}

.summaryDescription {
  margin-bottom: 3px;
}

.SummaryImage {
  display: block !important;
}

.SummaryImage_responsive {
  display: none !important;
}

.RestaurantName {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.25px;
}

.RestaurantRate {
  display: flex;
}

.RestaurantPriceRange {
  border-bottom: 1px solid #383a47;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.RestaurantLocation {
  display: flex;
}

.RestaurantAddress {
  display: flex;
  align-items: flex-start;
}

.addressIcon {
  padding-right: 10px;
}

.addressDescription {
  margin-bottom: 10px;
}

.RestaurantTel {
  display: flex;
  align-items: flex-start;
}

.telIcon {
  padding-right: 10px;
}

.telDescription {
  margin-bottom: 10px;
}

.RestaurantSummary {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #383a47;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.summaryIcon {
  padding-right: 10px;
}

.saveButton {
  width: 366px;
  height: 50px;
  left: 403px;
  top: 304px;
  background: #ff844b;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.backButton {
  display: none !important;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    height: 55%;
    background: #98a7bf;
    color: #ffffff;
    border-radius: 30px;
  }

  .closeButton {
    display: none;
  }

  .RestaurantName {
    margin-top: 20px;
  }

  .leftPicture {
    display: none;
  }

  .rateStars {
    display: none !important;
  }

  .rateStars_responsive {
    display: block !important;
  }

  .RestaurantPriceRange {
    display: none !important;
    border-bottom: 1px solid white;
  }

  .RestaurantPriceRange_responsive {
    display: block !important;
    border-bottom: 1px solid white;
    margin-top: 12px;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }

  .RestaurantAddress {
    display: none !important;
    border-bottom: 1px solid white;
  }

  .RestaurantAddress_responsive {
    display: block !important;
  }

  .RestaurantTel {
    display: flex;
    align-items: center;
  }

  .TelImage {
    display: none !important;
    border-bottom: 1px solid white;
  }

  .TelImage_responsive {
    display: block !important;
  }

  .telDescription {
    margin-top: 3px;
  }

  .SummaryImage {
    display: none !important;
    border-bottom: 1px solid white;
  }

  .SummaryImage_responsive {
    display: block !important;
  }

  .summaryDescription {
    margin-bottom: 3px;
  }

  .save {
    text-align: center;
  }

  .saveButton {
    width: 366px;
    height: 50px;
    left: 403px;
    top: 304px;
    background: #667080;
    border-radius: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
  }

  .RestaurantSummary {
    border-bottom: 1px solid white;
  }

  .backButton {
    display: block !important;
    text-align: right;
    margin-right: 30px;
    transform: translate(0px, -100px);
  }

  .navBack {
    background-color: white;
    color: #ff844b;
    padding: 1em;
    border-radius: 13.7px;
    border: none;
    align-self: flex-end;
    cursor: pointer;
  }
}
