.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  text-align: center;
}

.error-page-info h3 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  color: #016fb9;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.error-page-info p {
  margin: 0 auto;
  max-width: 480px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #797b89;
  margin-bottom: 2rem;
}

.error-page-info button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ebf2fa;
  background: #ff844b;
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
}
