@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

$color-primary-blue: #EBF2FA;
$color-secondary-blue: #016FB9;
$color-primary-orange: #FF844B;
$color-primary-dark: #1B1C20;
$color-secondary-dark: #797B89;

$font-primary: 'Urbanist';
$font-secondary: 'Inter';