@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

$color-primary-blue: #ebf2fa;
$color-secondary-blue: #016fb9;
$color-primary-orange: #ff844b;
$color-primary-dark: #1b1c20;
$color-secondary-dark: #797b89;

$font-primary: "Urbanist", sans-serif;
$font-secondary: "Inter", sans-serif;
