//form scss
.form {
  font-family: $font-primary;
  color: $color-primary-dark;
  background-color: $color-primary-blue;

  //size
  font-size: 17px;
  padding: 40px 16px;
  height: 100vh;
}

.location {
  display: flex;

  //size
  margin-bottom: 19px;

  &__form {
    background-color: white;
    border: 1px solid $color-border;
    overflow: hidden;
    display: flex;
    align-items: center;

    //size
    border-radius: 13.7px;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;

    //size
    height: 50px;
    width: 225px;
  }

  &__title {
    font-weight: 700;
    margin: 0;

    //size
    font-size: 15px;
  }

  &__border {
    border: none;
    height: 1px;
    background-color: $color-primary-dark;

    //size
    margin-top: 6px;
  }

  &__search-icon {
    stroke: $color-primary-dark;

    //size
    height: 24px;
    margin: 0 15px;
  }

  &__cancel-button {
    font-family: inherit;
    font-size: 15px;
    color: $color-primary-orange;
    border: none;
    background-color: transparent;

    margin-left: 16px;

    cursor: pointer;
  }

  &__discovery-icon {
    stroke: $color-primary-dark;
    margin: 0 7px;
  }

  &__suggested {
    cursor: pointer;
  }

  &__ul {
    list-style: none;
    padding: 0;
  }

  &__ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
  }
}