.navigation {
  background-color: $color-primary-blue;
  box-shadow: 0px 4px 4px #cbd5e1;
  height: $nav-height;

  &__title {
    margin-left: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  //big menu
  &__list {
    list-style: none;
    position: absolute;
    right: 163px;
    top: 40px;
  }

  &__item {
    font-size: 15px;
    font-family: $font-secondary;
    font-weight: 600;
    margin: 0 16px;
    display: inline-block;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
  }

  //small menu
  &__button {
    position: absolute;
    right: 35px;
    top: 40px;

    cursor: pointer;
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 30px;
      height: 2.5px;
      background-color: $color-secondary-dark;
      display: inline-block;

      border-radius: 30px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &::before {
      top: -7px;
    }
    &::after {
      top: 7px;
    }
  }
}
