.noresults {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__mainContent {
        display: flex;
        align-items: center;
        width: 80%;
        height: 80vh;
        margin: 1em auto;
    }

    &__listBg {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__listContent {
        width: 40%;

        h2 {
            margin-top: 0;
            font-size: 3rem;
            color: $color-secondary-blue;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1.5em;
            color: #797B89;
        }

    }

    @media(max-width: 600px) {
        &__mainContent {
            flex-direction: column;
        }

        &__listContent,
        &__listBg {
            width: 90%;
            margin-top: 2em;

            h2 {
                font-size: 2rem;
            }
        }
    }
}